/* no support for transparent pngs */
#rootHeaderLeft {
	background-image: none;
	padding-left: 0;
}

.sky, .earth, .rock {
	background-image: none;
}

/* no support for margin: auto to center content */
.earth {
	text-align: center;
}

#rootContainer {
	text-align: left;
}

/* IE6 doesn't recognize the CSS descendant selectors used in template.css */
#rootHeader h1 a, 
#rootHeader h1 a:visited, 
#rootHeader h1 a:hover {
  text-decoration: none;
  font-size: 50pt;
  display: block;
  float: left;
  overflow: visible;
}

#rootHeader h1.logo { background-image: none; }
#rootHeader h1.logo a { padding-top: 0; }

/* disable top nav rather than engineer a separate solution for ie6 */
#rootTop  {
	display: none;
}

/* seems to decrease incidence of background color / float bug */
#rootCenter, .leftfloat {
	position: relative;
}