@import url("fonts.css");

/* background images */
.sky {
	height: 110pt;
	background: #bfbfff url('../images/grass.png') repeat-x scroll bottom;
}

.earth {
	background-color: #b28257;
	height: 390pt;
	overflow: visible;
	z-index: 10;
	background: #785331 url('../images/dirt.png') repeat-x scroll top;
}

.rock {
	background-color: #bfbfbf;
	height: 125pt;
	background: #bfbfbf url('../images/rock.png') repeat-x scroll top;
}

/* positioning and styles for main content area */

#rootOutline {
  /* border: 15pt solid #ffdf00; TODO: media stylesheets with gamma info */
  border: 15pt solid #ffbf00;
  background-color: #ffbf00;
  border-radius: 25pt;

  -moz-border-radius: 25pt;
  -webkit-border-radius: 25pt;
}

#rootContainer {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 70%;
  max-width: 120ex;
  z-index: 10;
  position: relative;
  top: -70pt;

  border: 2pt solid #df9f00;
  border-radius: 27pt;

  -moz-border-radius: 27pt;
  -webkit-border-radius: 27pt;
}

#rootHeader {
  vertical-align: middle;
  height: 50pt;
  padding: 5pt 10px;
  background-color: #cf3f5f;
  border-top-right-radius: 10pt;
  border-top-left-radius: 10pt;
  
  -moz-border-radius-topleft: 10pt;
  -moz-border-radius-topright: 10pt;
  -webkit-border-top-right-radius: 10pt;
  -webkit-border-top-left-radius: 10pt;
}

#rootHeader h1 {
  font-size: 50pt;
  margin: 0;
  color: #fff5f5;
  font-family: "alba", Arial;
  font-weight: normal;
  text-transform: lowercase;
}

#rootHeader h1 a, 
#rootHeader h1 a:visited, 
#rootHeader h1 a:hover {
  padding-left: 72px;
  background: transparent url('../images/beet.png') no-repeat scroll center left;
  text-decoration: none;
  color: #fff5f5;
  line-height: 50pt;
  display: block;
  float: left;
}

#rootCenter {
  background-color: #fff;
  height: 365pt;
  border-color: #ffbf00;
  border-width: 15pt 0;
  border-style: solid;
}

#rootLeft {
  float: left;
  font-size: smaller;
  padding: 0 10pt;
  min-width: 150px;
  width: 20ex;
  background-color: #efefef;
  height: 100%;
}

#rootContent {
  height: 100%;
  overflow: auto;
  padding: 0 10pt;
}

#rootFooter {

  padding: 10pt;
  min-height: 40px;
  vertical-align: middle;

  background-color: #ffdf90;
  border-bottom-right-radius: 10pt;
  border-bottom-left-radius: 10pt;
  
  -moz-border-radius-bottomleft: 10pt;
  -moz-border-radius-bottomright: 10pt;
  -webkit-border-bottom-right-radius: 10pt;
  -webkit-border-bottom-left-radius: 10pt;
}

#sfLogo {
  float: left;
  width: 20ex;
  min-width: 150px;
}

#sfLogo img {
  border: none;
}

#rootFooter .copyright {
  font-size: x-small;
}

/* overrides for general content */

#rootLeft ul.menu {
  list-style: none;
  padding-left: 10pt;
  white-space: nowrap;
}

.componentheading {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1ex;
  border-bottom: 2pt solid grey;
}

.contentheading, h1 {
  font-weight: normal;
  margin-bottom: 0;
}

.article-tools {
  background: #faf0f0;
  padding: 5pt;
  font-size: smaller;
  border: 1pt solid #faa;
}

.article-meta > span {
  margin-right: 1em;
}

/* custom styles for articles */

.leftfloat {
  float: left;
  margin-right: 10pt;
  padding-right: 10pt;
}

.leftfloat > h2 {
  margin-top: 0;
}

.article-content h1 {
  margin: 0;
}

.dfContactTable {
  border-collapse: collapse;
}

.dfContactTable td, .dfContactTable th {
  padding: 0;
  margin: 0;
}
 