@import url("fonts_ie.css");

br {
	display: none;
}

#rootHeaderLeft {
	display: inline;
	float: left;
	margin-right: 40pt;
}

#rootHeader h1 {
	font-weight: normal;
}

#rootHeader h1.logo-text a {
	margin-top: -15pt ! important;
	line-height: 75pt ! important;
}

#rootTop {
	display: inline;
}

#rootLeft ul.menu {
	margin: 0;
}

#rootLeft .minwidth, #sfLogo .minWidth {
	width: 150px;
}

#rootLeft .moduletable {
	margin-top: 10pt;
}

#rootContent {
  padding: 10pt;
}

#rootFooter .copyright {
	margin-left: 150px;
	padding-left: 20pt;
}

#rootTop > .moduletable {
  position: relative;
  top: 50%;
  margin-top: -2ex;
}

#rootTop > .moduletable > ul.menu > li {
  display: inline;
  float: left;
}

.breadcrumbs {
  display: none;
}