<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:bt="http://www.mantis-tgi.com/schema/bt/1.1" 
	   xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xsi:schemaLocation="
	   		http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.mantis-tgi.com/schema/bt/1.1			http://www.mantis-tgi.com/schema/bt/mtgi-bt-1.1.xsd">

	<!-- check required annotations on test beans -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

	<!-- use unitils hsqldb datasource for test persistence ops -->
	<bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean" />

  	<bt:jdbc-persister id="jdbcPersistenceManager">
  		<bt:data-source ref="dataSource"/>
  		<bt:id-sql increment="25">call next value for SEQ_BEHAVIOR_TRACKING_EVENT</bt:id-sql>
  	</bt:jdbc-persister>
	  	
	<!-- task queue for async persistence operations -->	
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="1"/>
		<property name="maxPoolSize" value="1"/>
		<property name="queueCapacity" value="100"/>
		<property name="threadFactory">
			<bean class="org.springframework.scheduling.concurrent.CustomizableThreadFactory"/>
		</property>
	</bean>
	
	<!-- mock session context for testing -->
	<bean id="sessionContext" class="com.mtgi.analytics.MockSessionContext"/>
	
	<bean id="behaviorTrackingManager" class="com.mtgi.analytics.BehaviorTrackingManagerImpl">
		<property name="application" value="testBT"/>
		<property name="executor" ref="taskExecutor"/>
		<property name="persister" ref="jdbcPersistenceManager"/>
		<property name="flushThreshold" value="5"/>
		<property name="sessionContext" ref="sessionContext"/>
	</bean>
	
</beans>