.programlisting, .screen { 
	background-color:#efefef; 
	margin:0;
	padding:4ex;
	border:1px solid #999999; 
	font-size: 8pt;
}

.caution {
  border: 5pt solid orange;
  padding: 0 10pt; 
  background-color: lightyellow; 
}

.segmentedlist, .variablelist {
  border: 1pt solid black;
  margin: 5pt 20pt;
  padding: 5pt;
}

.segmentedlist .title, 
.variablelist .title { 
  background-color: lightgrey;
  margin: 0;
  padding: 5pt;
}

.segmentedlist .seg {
  padding: 5pt;
  vertical-align: top;
}

.segmentedlist .seg:first-child {
  white-space: nowrap;
}


h2.title {
  background-color: grey;
  color: #fafafa;
  padding: 10pt;
  border: 5px solid #333;
}

.section h2.title {
  padding: 5pt;
  border-width: 3px;
}

.section h3.title {
  background-color: lightgrey;
  padding: 5pt;
  border: 1px solid black;
  margin-top: 2em;
}

.caution h3.title {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  margin-top: 15pt;
}

